# Visual Studio / VS Code
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/

# Arduino build
*.elf
*.map
*.hex

# OS
.DS_Store
Thumbs.db

# Misc
*.docx
*.doc